[Unit]
Description=Hosting Heartbeat
After=network.target httpd.servie mysqld.service

[Service]
Type=simple
ExecStart=/hosting/daemon/start.py sendHeartBeat
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

